@media screen and (min-width: 400px) and (max-width: 599px) {
  .main_menu_card:hover .main_menu_price {
    margin-right: 6.2rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .main_operation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .main_restautant_title {
    display: contents;
  }

  .main_operation_bubble {
    width: 17rem;
  }

  .main_restaurant_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .main_restaurant_card {
    width: 43%;
  }

  .main_menu_entrees,
  .main_menu_plats,
  .main_menu_desserts {
    width: 45%;
  }

  .main_operation_title {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .main_menu_full {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .main_menu_card:hover .main_menu_price {
    margin-right: 5.5rem;
  }

  .footer {
    align-items: center;
  }
}

@media screen and (min-width: 1201px) {
  .main_operation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .main_restautant_title {
    display: contents;
  }

  .main_operation_bubble {
    width: 17rem;
  }

  .main_restaurant_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .main_restaurant_card {
    width: 43%;
  }

  .main_operation_title {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .main_menu_full {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .main_menu_entrees,
  .main_menu_plats,
  .main_menu_desserts {
    width: 30%;
  }

  .main_menu_card:hover .main_menu_price {
    margin-right: 4rem;
  }

  .footer {
    align-items: center;
  }
}

@media screen and (min-width: 1270px) and (max-width: 1600px) {
  .main_menu_card:hover .main_menu_price {
    margin-right: 5rem;
  }
}

@media screen and (min-width: 1601px) {
  .main_menu_card:hover .main_menu_price {
    margin-right: 8rem;
  }
}