/* ****************** HTML ******************** */
@font-face {
  font-family: "shrikhand-regular";
  src: url("fonts/shrikhand/shrikhand-regular-webfont.woff2") format("woff2"),
    url("fonts/shrikhand/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotocondensed-regular";
  src: url("fonts/roboto/robotocondensed-regular-webfont.woff2") format("woff2"),
    url("fonts/roboto/robotocondensed-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotocondensed-light";
  src: url("fonts/roboto/robotocondensed-light-webfont.woff2") format("woff2"),
    url("fonts/roboto/robotocondensed-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotocondensed-bold";
  src: url("fonts/roboto/robotocondensed-bold-webfont.woff2") format("woff2"),
    url("fonts/roboto/robotocondensed-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto-regular";
  src: url("fonts/roboto/roboto-regular-webfont.woff2") format("woff2"),
    url("fonts/roboto/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto-medium";
  src: url("fonts/roboto/roboto-medium-webfont.woff2") format("woff2"),
    url("fonts/roboto/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto-italic";
  src: url("fonts/roboto/roboto-italic-webfont.woff2") format("woff2"),
    url("fonts/roboto/roboto-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto-bold";
  src: url("fonts/roboto/roboto-bold-webfont.woff2") format("woff2"),
    url("fonts/roboto/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ****************** PRELOADER ******************** */
.body_preloader_img img {
  height: 20rem;
  position: relative;
  top: 20rem;
}

#body_preloader {
    -webkit-animation: body_preloader 2.5s both;
            animation: body_preloader 2.5s both;
  }

@-webkit-keyframes body_preloader {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes body_preloader {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


/* ****************** PAGE D'ACCUEIL ******************** */
* {
  box-sizing: border-box;
}

body {
  font-family: "roboto-regular", sans-serif;
  text-align: center;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

/* ****************** HEADER ******************** */
.header_title {
  font-family: "shrikhand-regular", cursive, sans-serif;
}

.header_map_search {
  background-color: #eeeeee;
  box-shadow: 0 -0.1rem 0.2rem 0 rgba(0, 0, 0, 0.31);
  max-width: 100%;
  height: 4rem;
  padding-top: 1rem;
}

.header_icon_map {
  margin-right: 1rem;
}

/* ****************** MAIN-DISCOVERY ******************** */
.main_discovery {
  background-color: #f5f5f5;
  padding-bottom: 5rem;
  padding-top: 1rem;
}

.main_explore {
  margin-bottom: 3rem;
}

.main_explore_btn {
  width: 15rem;
  margin-left: 2rem;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.31);
  color: white;
  border-radius: 2rem;
  padding: 1.1rem 2rem;
  background: linear-gradient(#ff79da, #9356dc);
}

.main_explore_btn:hover {
  text-shadow: 0 0 0.5rem whitesmoke;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.31);
}

/* ****************** MAIN-OPERATION ******************** */
.main_operation {
  padding-top: 3rem;
  padding-bottom: 1rem;
  margin: 0.5rem;
}

.main_operation_title {
  text-align: left;
  margin-left: 0.5rem;
}

.main_operation_bubble {
  display: flex;
  background-color: #f5f5f5;
  margin-left: 1rem;
  margin-bottom: 2rem;
  align-items: baseline;
  box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
  cursor: pointer;
}

.main_operation_bubble_title {
  margin-left: -0.5rem;
}

.main_operation_bubble_icon {
  color: gray;
  font-size: 1.3rem;
  margin-right: 1rem;
  margin-left: 1.5rem;
}

.main_operation_bubble:hover {
  cursor: pointer;
  background-color: #f3e5f5;
}

.main_operation_bubble_icon:hover {
  cursor: pointer;
  color: #9356dc;
}

.main_operation_bubble_number {
  background-color: #9356dc;
  border-radius: 100%;
  color: white;
  min-height: 2rem;
  min-width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -1rem;
}

/* ****************** MAIN-RESTAURANT ******************** */
.main_restaurant {
  background-color: #f5f5f5;
  padding-bottom: 6rem;
  padding-top: 1rem;
}

.main_restautant_title {
  text-align: left;
  margin-left: 1rem;
}

.main_restaurant_card {
  background-color: #fff;
  position: relative;
  border-radius: 1.25rem;
  box-shadow: 0 1.4rem 1.2rem -1rem #0000002e;
  transition-duration: 0.1s;
  margin: 1rem;
  height: 13.5rem;
}

.main_restaurant_card_new {
  background-color: #99e2d0;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #229c75;
  font-weight: bold;
  padding-top: 0.4rem;
  width: 5rem;
  height: 2rem;
}

.main_restaurant_figure_card {
  margin: 0rem;
}

.main_restaurant_card_img {
  height: 10rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.main_restaurant_figcaption_card {
  display: flex;
  justify-items: baseline;
  flex-direction: column;
  margin-left: 1rem;
  margin-bottom: -6.5rem;
  text-align: left;
}

.main_restaurant_card_figure_figpcation_title {
  margin-bottom: -2rem;
  margin-top: 0.2rem;
}

.main_restautant_card_title {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.main_restaurant_icon_heart {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  margin-left: 12rem;
  color: gray;
  cursor: pointer;
}

.main_restaurant_icon_heart:hover {
  font-weight: bolder;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  z-index: 0;
  transform: scale(1.3);
  transition: opacity 400ms, transform 300ms 100ms;
}

/* ****************** FOOTER ******************** */
.footer {
  color: white;
  background-color: #424242;
  padding-top: 1rem;
  text-align: left;
  line-height: 0rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.footer a,
.footer_menu a {
  color: white;
}

.footer_title {
  font-style: italic;
  font-family: "shrikhand-regular";
  font-weight: normal;
  font-size: 1.2rem;
  padding-bottom: 2rem;
  margin-left: 1rem;
}

.footer_title_icon {
  display: flex;
  align-items: baseline;
  margin-left: 1rem;
}

.footer_icon_title_icon {
  padding-right: 1rem;
}

.footer_title_h3 {
  margin-left: 1rem;
}

/* ****************** MENU A LA FRANCAISE ******************** */

/* ****************** HEADER ******************** */
.header_alafrancaise_title_and_arrow {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: row-reverse;
}

.header_menu_title {
  font-family: "shrikhand-regular", cursive, sans-serif;
  margin-right: 4rem;
}

.header_menu_arrow {
  margin-right: 3rem;
}

.main_menu_card_img {
  height: 11rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
}
/* ****************** MAIN-MENU ******************** */
.main {
  margin-bottom: -3rem;
}

.main_menu_principal {
  background-color: #f5f5f5;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  top: -3rem;
  padding-bottom: 4rem;
}

.main_menu {
  display: flex;
  align-items: baseline;
  margin-left: 0.5rem;
}

.main_menu_title {
  font-family: "shrikhand-regular", sans-serif;
}

.main_menu_icon_heart {
  font-size: 1.5rem;
  margin-left: 5rem;
  cursor: pointer;
}

.main_menu_plats,
.main_menu_entrees {
  padding-bottom: 2rem;
  font-size: 0.75rem;
}

.main_menu_desserts {
  padding-bottom: 4rem;
  font-size: 0.75rem;
}

.main_menu_entree_title {
  text-align: left;
  margin-left: 1rem;
  font-weight: normal;
  color: grey;
  border-bottom: 0.2rem solid #99e2d0;
  width: 15%;
  line-height: 2rem;
}

.main_menu_card:nth-child(1){
  animation-delay: 0s;
}

.main_menu_card:nth-child(2){
  animation-delay: 0.3s;
}

.main_menu_card:nth-child(3){
  animation-delay: 0.4s;
}

.main_menu_card:nth-child(4){
  animation-delay: 0.5s;
}

.main_menu_card {
	-webkit-animation: main_menu_card 1s both;
	        animation: main_menu_card 1s both;
}

@-webkit-keyframes main_menu_card {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes main_menu_card {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


.main_menu_card {
  background-color: #fff;
  border-radius: 1.25rem;
  box-shadow: 0rem 0.5rem 1rem 0.3rem #0000002e;
  transition-duration: 0.1s;
  margin: 0.5rem;
}

.main_menu_figure_card {
  margin: 0;
}

.main_menu_figcaption_card {
  text-align: left;
  margin-left: 1rem;
}

.main_menu_card_figure_figpcation_title {
  margin-bottom: -0.5rem;
  padding-top: 0.5rem;
}

.main_menu_card_price {
  text-align: right;
  margin-right: 1rem;
  margin-top: -2rem;
  padding-bottom: 1rem;
}

.main_menu_explore_btn {
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.31);
  color: white;
  border-radius: 2rem;
  text-decoration: none;
  padding: 1.1rem 4rem;
  background: linear-gradient(#ff79da, #9356dc);
}
/* ****************** FOOTER-MENU ******************** */
.footer_menu {
  color: white;
  background-color: #424242;
  padding-top: 1rem;
  text-align: left;
  line-height: 0rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

/* ****************** MENU LE DELICE DES SENS ******************** */
/* ****************** MAIN-MENU ******************** */
.main_menu_icon_other_menu {
  margin-left: 2rem;
}

/* ****************** MENU LA NOTE ENCHANTEE ******************** */
/* ****************** MAIN-MENU ******************** */
.main_menu_other {
  height: 76rem;
}

.main_menu_icon_other {
  margin-left: 2rem;
}

/* ****************** FOOTER ******************** */
.footer_menu_other {
  bottom: -70rem;
}
