/* ****************** HTML ******************** */
@font-face {
  font-family: "shrikhand-regular";
  src: url("fonts/shrikhand/shrikhand-regular-webfont.woff2") format("woff2"),
    url("fonts/shrikhand/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotocondensed-regular";
  src: url("fonts/roboto/robotocondensed-regular-webfont.woff2") format("woff2"),
    url("fonts/roboto/robotocondensed-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotocondensed-light";
  src: url("fonts/roboto/robotocondensed-light-webfont.woff2") format("woff2"),
    url("fonts/roboto/robotocondensed-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotocondensed-bold";
  src: url("fonts/roboto/robotocondensed-bold-webfont.woff2") format("woff2"),
    url("fonts/roboto/robotocondensed-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto-regular";
  src: url("fonts/roboto/roboto-regular-webfont.woff2") format("woff2"),
    url("fonts/roboto/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto-medium";
  src: url("fonts/roboto/roboto-medium-webfont.woff2") format("woff2"),
    url("fonts/roboto/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto-italic";
  src: url("fonts/roboto/roboto-italic-webfont.woff2") format("woff2"),
    url("fonts/roboto/roboto-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto-bold";
  src: url("fonts/roboto/roboto-bold-webfont.woff2") format("woff2"),
    url("fonts/roboto/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "roboto-regular", sans-serif;
  text-align: center;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

/* ****************** HEADER ******************** */
.header_title {
  font-family: "shrikhand-regular", cursive, sans-serif;
}

.header_map_search {
  background-color: #eeeeee;
  box-shadow: 0 -0.1rem 0.2rem 0 rgba(0, 0, 0, 0.31);
  max-width: 100%;
  height: 4rem;
  padding-top: 1rem;
}

.header_icon_map {
  margin-right: 1rem;
}

/* ****************** MAIN-DISCOVERY ******************** */
.main_discovery {
  background-color: #f5f5f5;
  padding-bottom: 5rem;
  padding-top: 1rem;
}

.main_explore {
  margin-bottom: 3rem;
}

.main_explore_btn {
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.31);
  color: white;
  border-radius: 2rem;
  text-decoration: none;
  padding: 1.1rem 2rem;
  background: linear-gradient(#ff79da, #9356dc);
}

/* ****************** MAIN-OPERATION ******************** */
.section.main_operation {
  padding-bottom: 5rem;
}

.main_operation_title {
  text-align: left;
  margin-left: 1rem;
}

.main_operation_bubble {
  display: flex;
  gap: 1.5rem;
  background-color: #f5f5f5;
  margin-left: 1rem;
  margin-bottom: 2rem;
  align-items: baseline;
  box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.main_operation_bubble_number {
  background-color: #9356dc;
  border-radius: 100%;
  color: white;
  min-height: 2rem;
  min-width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -1rem;
}

.main_operation_bubble_icon {
  color: gray;
  font-size: 1.3rem;
}

/* ****************** MAIN-RESTAURANT ******************** */
.main_operation {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main_restaurant {
  background-color: #f5f5f5;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.main_restautant_title {
  text-align: left;
  margin-left: 1rem;
}

.main_restaurant_card {
  background-color: #fff;
  border-radius: 1.25rem;
  box-shadow: 0 1.4rem 1.2rem -1rem #0000002e;
  transition-duration: 0.1s;
  margin: 1rem;
  height: 14rem;
  cursor: pointer;
}

.main_restaurant_card_new {
  background-color: #99E2D0;
  position: absolute;
  color: #229c75;
  margin: -9.5rem 0rem 0rem 12.5rem;
  font-weight: bold;
  padding-top: 0.4rem;
  width: 5rem;
  height: 2rem;
}

.main_restaurant_figure_card {
  margin: 0rem;
}

.main_restaurant_card_img {
  height: 10rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.main_restaurant_figcaption_card {
  display: flex;
  justify-items: baseline;
  flex-direction: column;
  margin-left: 1rem;
  margin-bottom: -6.5rem;
  text-align: left;
}

.main_restaurant_card_figure_figpcation_title {
  margin-bottom: -2rem;
  margin-top: 0.2rem;
}

.main_restautant_card_title {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.main_restaurant_card_icon_hearth {
  font-size: 2rem;
  margin-left: 14rem;
  color: gray;
}


/* ****************** FOOTER ******************** */
.footer{
  color: white;
  background-color: #424242;
  padding-top: 1rem;
  text-align: left;
  line-height: 0rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.footer a{
  color: white;
}

.footer_title {
  font-style: italic;
  font-family: 'shrikhand-regular';
  font-weight: normal;
  font-size: 1.2rem;
  padding-bottom: 2rem;
  margin-left: 1rem;
}

.footer_title_icon {
  display: flex;
  align-items: baseline;
  margin-left: 1rem;
}

.footer_icon_title_icon {
  padding-right: 1rem;
}

.footer_title_h3{
  margin-left: 1rem;
}
